IntelliLang.xml
_mac/
androidStudioFirstRun.xml
debugger.xml
diff.xml
editor.codeinsight.xml
file.template.settings.xml
github_settings.xml
ide.general.xml
ignore.xml
inspection/
jdk.table.xml
other.xml
project.default.xml
ui.lnf.xml
vcs.xml
web-browsers.xml


.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/gradle.xml
*.ap_
*.apk
bin/
build/
/captures
captures/
*.class
*.dex
.DS_Store
gen/
gen-external-apklibs
.gradle/
/.idea/libraries
/.idea/workspace.xml
*.jks
/local.properties
*.log
.navigation/
proguard/
