*.ap_
*.apk
bin/
build/
/captures
captures/
*.class
*.dex
.DS_Store
gen/
gen-external-apklibs
.gradle/
/.idea/libraries
/.idea/workspace.xml
*.iml
*.jks
/local.properties
*.log
.navigation/
proguard/
